@theme {
  --grid-cursos: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  --grid-chapters: [left-panel-start] 1fr [left-panel-end content-start] 75ch
    [content-end index-start] 1fr [index-end];
  --grid-badge: max-content 1fr;
}

@theme inline {
  --color-primary: light-dark(var(--color-blue-700), var(--color-blue-300));
  --color-border: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-700)
  );
}

@layer components {
  .button {
    @apply font-medium ease-out text-center bg-neutral-950/50 backdrop-blur-md uppercase p-2 duration-300 hover:text-white hover:bg-blue-700 hover:shadow-lg shadow-blue-700/20 tracking-wider transition-all active:opacity-50 px-6 text-current/60 text-sm border cursor-pointer border-current/20 rounded-lg;
  }
}
